<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Image Details</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/pace-theme-center-circle.css}"/>

<script th:src="@{/js/pace.js}"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
<script th:inline="javascript">
	$(function() {
		$('#onclickchange').on('click', function() {
			
			var ButtonText = $(this).text();
			if(ButtonText == 'Like'){
				$('i').filter('#thumbsUp').css('color','#51c854');
				$('button').filter("#onclickchange").html("Unlike");
				var count = $('div').filter("#noOfLikes").text();
				$('div').filter("#noOfLikes").text(++count);
				var request = $.ajax({
					url : '/files/getData',
					type : 'GET',
					data : {
						id : /*[[${image.id}]]*/,
						likes : 0,
						userId : /*[[${user.id}]]*/
					}
				});
			}
			else{
				$('i').filter('#thumbsUp').css('color','black');
				$('button').filter("#onclickchange").html("Like");
				var count = $('div').filter("#noOfLikes").text();
				$('div').filter("#noOfLikes").text(--count);
				var request = $.ajax({
					url : '/files/getData',
					type : 'GET',
					data : {
						id : /*[[${image.id}]]*/,
						likes : 1,
						userId : /*[[${user.id}]]*/
					}
				});
			}

			request.done(function(data) {
			});

			request.fail(function(jqXHR, textStatus) {
			});
		});

	});
</script>
	
</head>

<body id="body">

	<div th:replace="fragments/navbar :: navbar(10)"></div>
	<script th:src="@{/js/navbar.js}"></script>
	
	
	<br/>
	<br/>
	<br/>
	<br/>
	<div th:if="${fail == 1}">
		<div th:text="${failText}" class="alert alert-info" style="text-align:center;">Error Text</div>
		<a
			th:href="@{/users/gallery(email = ${searchedUser.email})}"
			style="margin-left: 50%;">
			<button type="button" class="btn btn-success">Go Back</button>
		</a>
	</div>

	<div th:if="${fail == 2}">
		<div th:text="${failText}" class="alert alert-info"
			style="text-align: center;">Error Text</div>
		<a
			th:href="@{/users/gallery(email = ${searchedUser.email}, follow='wantTo')}"
			style="margin-left: 50%;">
			<button type="button" class="btn btn-success">Follow+</button>
		</a>
		<br/>
		<br/>
		<a
			th:href="@{/users/gallery(email = ${searchedUser.email})}"
			style="margin-left: 50%;">
			<button type="button" class="btn btn-success">Go Back</button>
		</a>
	</div>
	
	
	<div th:if="${fail==0}">
		<div class="wrapper">
			<a th:href="@{/users/gallery(email = ${searchedUser.email})}"
				style="margin-left: 90%;">
				<button type="button" class="btn btn-success">Go Back</button>
			</a>

			<p
				th:text="${image.caption != null} ? ${image.caption} : 'No Caption'">Here
				comes your Caption bitch....</p>
			<p
				th:text="${image.description != null} ? ${image.description} : 'No Description'">Here
				is Description</p>
			<div style="display: flex">

				<a id="showLeftImage" th:if="${prevId != -1}"
					th:href="@{'/users/images/getData/' + ${prevId} + '/1?searchedUser=' + ${searchedUser.email} + '#onclickchange'}"
					class="previous round">&laquo;</a>

				<div class="hovereffect">
					<img class="img-responsive"
						th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(image.pic)}"
						alt="" />
					<div class="overlay">
						<a href="#" class="info">HI! VISITOR</a>
					</div>
				</div>

				<a id="showRightImage" th:if="${nextId != -1}"
					th:href="@{'/users/images/getData/' + ${nextId} + '/1?searchedUser=' + ${searchedUser.email} +'#onclickchange'}"
					class="next round">&raquo;</a>
			</div>
		</div>
		
		<br/>
		<div style="display: inline-block; margin-left: 40%; width:100%;"">
			<i id="thumbsUp" th:if="${yesHeLikes==0}" class="fa fa-thumbs-up"></i>
			<i id="thumbsUp" th:if="${yesHeLikes!=0}" class="fa fa-thumbs-up"
				style="color: #51c854;"></i>
			<button style="background-color: white; padding: 0px; outline: none"
				th:text="${yesHeLikes==0} ? 'Like' : 'Unlike'" id="onclickchange"
				name="onclicklike" class="btn btn-light">LikeorUnlike</button>


			<i class="fa fa-comments" style="color: #51c854; margin-left: 12vw;"></i>
			<button style="background-color: white; padding: 0px; outline: none"
				name="onclicklike" class="btn btn-light">Comments</button>

		</div>

		<div style="display: flex">
			<div style="margin-left: 36vw;" id="noOfLikes"
				th:text="${likes!=null} ? ${likes} : 0"></div>
		</div>
	</div>
	
	<script th:src="@{/js/triggerButton.js}"></script>
	
</body>
</html>