.wrapper {
  width:100%;
  text-align:center;
  top:30%;
  position:relative;
}

p {
  color: black;
  text-align: center;
margin-left: auto;
margin-right: auto;
}

span{
  color: black;
  text-align: center;
  font-size: 14px;
margin-top: 20px;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}
.hovereffect {
  width: 30%;
  height: 100%;
  margin-left: 36%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 4px 27px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 60% 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media screen and (orientation: portrait) {
.hovereffect a.info {
  padding: 3px 10px;
  font-size: 12px;
}
  p{
    font-size: 15px;
  }
  span{
    font-size: 9px;
  }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}


/* 
###########################################################

#############    Previous and Next Buttons    #############

###########################################################
*/

.previous {
  color: #51c854;
  margin-top: auto;
  margin-bottom: auto; 
  font-size: 80px;
}

.next {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%; 
  font-size: 80px;
  color: #51c854;
}

.round {
  border-radius: 50%;
}

/* COMMENTS SECTION */

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
                      